*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-color: rgb(239,239,239);
    font-family: 'Open Sans',sans-serif ;
}

.page{
    display: grid;
    row-gap: 10px;
    column-gap: 30px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    grid-template-areas: "order order-info""order ccbox""total total";
    grid-template-columns: 1fr 1fr;
    
}
.brand-name{
    text-align: center;
    background-color: rgb(67, 40, 28);
    font-weight: bold;
    color: bisque;
    font-size: small; 
    margin-bottom: none;
    list-style:none;
   
}
.logo-item{
    margin: 0;
    padding: 36px 0 36px 84px;
    background-image: url("https://btholt.github.io/complete-intro-to-web-dev-v3/images/coffee_masters_logo.png");
    background-repeat: no-repeat;
	background-position:510px;
	background-size: 40px;
}
.box{
    background-color: rgb(237,224,212);
    border-radius: 10px;
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
}

.order{
    grid-area: order;
}
.box-title{
    color: rgb(152, 112, 75);
    font-weight: normal;
}
.items{
    list-style: none;
    padding-left: 10px; 
    padding-right: 10px;
    margin:0;
    align-items: center;
    
}
.item{
    color: black;
    border-bottom: 2px solid rgb(152, 112, 75);
    padding: 10px 0;
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "quantity title price" "quantity options price";
    row-gap: 8px;
   
}
.final-totals{
    font-weight: bold;
}
.checkout{
    background-color: rgb(152, 112, 75);
    border: 2px solid rgb(152, 112, 75);
    border-radius: 100px;
    width: 100%;
    font-size: 16px;
    margin-left: 20px;
    margin-right: 20px;
    height: 40px;
}
.item:last-child{
    border-bottom: none;
}
.item-quantity{
   grid-area:  quantity;
    
}
.item-title{
    font-weight: bold;
    grid-area: title;
}
.item-options{
    list-style: none;
    color: rgb(152, 112, 75);
    font-weight: bold;
    margin:0;
    padding:0;
    font-size: 14px;
    grid-area: options;
    
}
.item-price{
    font-weight: bold;
    grid-area: price;
}
.order-name-title{
    color: rgb(152, 112, 75);
    font-weight: normal;
}
.order-info{
    grid-area: order-info;
}
.cc-box{
    grid-area: ccbox;
}
.total{
    grid-area: total;
}
.input-group{
    position: relative;
}
.user-input-label{
    position: absolute;
    color: rgb(67, 40, 28);
    background-color: rgb(237,224,212);
    left:25px;
    top:-7px;
    padding:0 2px;
    font-size: 12px;
}

.user-input{
    background-color: rgba(0,0,0,0);
    border-radius: 15px; 
    border: 2px solid rgb(152, 112, 75);
    padding: 10px;
    margin-bottom: 40px;
    width: 100%;
    font-size:12px;
    text-indent: 18px;
}
.short-input{
    max-width: 200px;
}
table{
    margin-left: auto;
    margin-right: auto;
}
.element{
    padding-right: 150px;
    padding-left: 150px;
}
.totals-table{
    margin-top: 70px;
    margin-bottom: 30px;
}